<settings>
  <servers>
    <server>
      <id>tp-artifactory</id>
      <username>${artifactory-username}</username>
      <password>${artifactory-password}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>default</id>
      <properties>
        <artifactory.url>artifactory.url</artifactory.url>
        <artifactory.username>default</artifactory.username>
        <artifactory.password>default</artifactory.password>
        <artifactory.repo.key>default</artifactory.repo.key>
        <artifactory.phase>none</artifactory.phase>
      </properties>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
    </profile>
    <profile>
      <id>deploy-artifactory</id>
      <properties>
        <maven.car.deploy.skip>true</maven.car.deploy.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <artifactory.url>${artifactory-url}</artifactory.url>
        <artifactory.username>${artifactory-username}</artifactory.username>
        <artifactory.password>${artifactory-password}</artifactory.password>
        <artifactory.repo.key>${artifactory-repo-key}</artifactory.repo.key>
        <artifactory.phase>deploy</artifactory.phase>
      </properties>
    </profile>
    <profile>
      <id>deploy-local</id>
      <properties>
        <maven.car.deploy.skip>false</maven.car.deploy.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <server.esb.url>https://localhost:9444</server.esb.url>
        <server.esb.username>admin</server.esb.username>
        <server.esb.password>admin</server.esb.password>
        <server.dss.url>https://localhost:9448</server.dss.url>
        <server.dss.username>admin</server.dss.username>
        <server.dss.password>admin</server.dss.password>
        <server.greg.url>https://localhost:9449</server.greg.url>
        <server.greg.username>admin</server.greg.username>
        <server.greg.password>admin</server.greg.password>
        <wso2carbon.username>wso2carbon</wso2carbon.username>
        <wso2carbon.password>wso2carbon</wso2carbon.password>
        <artifactory.phase>none</artifactory.phase>
      </properties>
    </profile>
    <profile>
      <id>deploy-remote</id>
      <properties>
        <maven.car.deploy.skip>false</maven.car.deploy.skip>
        <maven.deploy.skip>true</maven.deploy.skip>
        <server.esb.url>${server-esb-url}</server.esb.url>
        <server.esb.username>${server-esb-username}</server.esb.username>
        <server.esb.password>${server-esb-password}</server.esb.password>
        <server.dss.url>${server-dss-url}</server.dss.url>
        <server.dss.username>${server-dss-username}</server.dss.username>
        <server.dss.password>${server-dss-password}</server.dss.password>
        <server.greg.url>${server-greg-url}</server.greg.url>
        <server.greg.username>${server-greg-username}</server.greg.username>
        <server.greg.password>${server-greg-password}</server.greg.password>
        <wso2carbon.username>${wso2carbon-username}</wso2carbon.username>
        <wso2carbon.password>${wso2carbon-password}</wso2carbon.password>
        <artifactory.phase>none</artifactory.phase>
      </properties>
    </profile>
  </profiles>
</settings>
